.content-loader {
  position: fixed;
  left: 50%;
  top: 50%;
}

.spinner {
  border-top-color: #444;
  border-left-color: #444;
  animation: RotateSpinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.spinner-large {
  width: 100px;
  height: 100px;
  border-width: 6px;
}

@keyframes RotateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
